{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Register{% endblock title %}


{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<div class="pc-container">
  <div class="pc-content">
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="mb-0">Register</h5>
            </div>
            <ul class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Register</li>
            </ul>
          </div>
        </div>
      </div>
    </div>


<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
    <div class="text-center">
                <a href="{% url "index" %}">
                  <div>
                    <img src="{% static "assets/images/PPOTTS Logo 2023.avif" %}" alt="img" style="width: 200px;">
                  </div>
                </a>
              </div>
          <form method="post" >
            {% csrf_token %}
            {% crispy form %}

                          <div class="d-flex mt-1 justify-content-between">
                <div class="form-check">
                  <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked="">
                  <label class="form-check-label text-muted" for="customCheckc1">I agree to all the Terms & Condition</label>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end mt-4">
                <h6 class="f-w-500 mb-0">Already have an Account?</h6>
                <a href="{% url "login" %}" class="link-primary">Login</a>
              </div>

          </form>



        </div>
      </div>

    </div>
  </div>
</div>

  </div>
</div>
{% endblock content %}